# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment / Secrets
.env
.flaskenv

# Database
*.db
*.sqlite
*.sqlite3

# Uploads
uploads/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Flask
instance/

# Python cache
.pytest_cache/